<div class="col-md-2">
  <h3>look for a character:</h3>
  <select ng-model="query">
    <option value="Don">Don</option>
    <option value="Peggy">Peggy</option>
    <option value="Joan">Joan</option>
    <option value="Betty">Betty</option>
  </select>
</div>

<div class="displayed-tweet-container">
  <div class="displayed-tweet container-fluid">
    <h2 class="list-animations" ng-click="setTweet(index+1)">{{displayTweet}}</h2>
  </div>
</div>

<div class="side-bar">
  <ul class="characters">
    <li class="list-animations" ng-repeat="c in characterData | filter:query">
      <a href="#/mentions/{{c.name}}/{{c.sn}}" class="thumb"><img style="max-height:101px; max-width:100px" ng-src="img/cast/mad-men-1024x768.jpg"/></a>
      <a href="#/mentions/{{c.name}}/{{c.sn}}">{{c.name}}</a>
    </li>
  </ul>
</div>
