h1#sn {
  font-size: 200px;
  color:#888;
  width: 50%;
  position: fixed;
  z-index: -1;
}

h3 {
  color:#888;
}

td {
  text-align:left;
  vertical-align:middle;
  width: none;
}

#averages-table {
  color: white;
  font-weight: 700;
  float: right;
}

.characters {
  margin-top: 200px;
}

.displayed-tweet {
  font-weight: 700;
  font-weight: bold;
  font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  color:#888;
  margin-top: 90px;
  width: 500px;
}

.displayed-tweet-container {
  height: 350px;
  width: 50%;
  float: right;
  margin-right: 100px;
  margin-top: 100px;
  background-color:#363636;
}

.side-bar {
  width: 30%;
  height: 100%;
  background-color: #002039;
  position: fixed;
  z-index: -2;
  top:0; bottom:0; left:0;
}

.table-pop-out {
  height: 10px;
  margin-top: 10px;
  text-align: right;
}

.time-line {
  width: 10%;
}

.time-line-button {
  width: 20px;
  height: 20px;
}

.time-line-date {
  color: white;
}

#title {
  font-size: 50px;
  margin-top: 250px;
  text-align: right;
}

.tweet-avatar {
  width: 60px;
  height: 110px;
}

.tweet-box {
  padding: 20px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
}

.tweet-box:hover {
  border-style: outset;
  background-color: #F2F2F2;
  background-color:rgba(137, 220, 255, 0.4);
}

.tweet-container {
  float: right;
  margin-right: 100px;
  width: 400px;
}

.user-name {
  color: #002039;
  font-weight: bold;
  font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}
